<!-- <app-head></app-head> -->
<article>
  <h2>Welcome to Portfolio Manager</h2>
  
  <!-- if pass data you must use $event-->
  <!-- <app-child (evtAgree)="handleChildAgree($event)"></app-child> -->
  <!-- banana in a box -->
  <!-- [()] two-way binding -->
  <!-- <input [(ngModel)]="catName" placeholder="cat name"/> -->
  <!-- <br>
  <p>Tha cat is called {{catName}}</p> -->

  <!-- () will bind an event FROM this template TO the component class -->
  <!-- ng generate component my-stocks -->
  <!-- <app-my-stocks></app-my-stocks> -->
  <!-- instantiate the portfolio component-->
  <!-- portfolio in app component bind to portfolio in app-portfolio ie partent to child-->
  <app-portfolio [portfolio]=portfolio [onePrice]="onePrice" [startDate]="startDate" (onClick)="updatePrice($event)"></app-portfolio>
  <hr>
</article>

<app-foot></app-foot>