table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
}


.container {
  width: 70vw;
}

.side {
  width: 20vw;
}

.center {
  width: 50vw;
  padding-left: 0;
  padding-right: 0;
}