
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: center;
  }



  .d-flex {
    margin-left: 9%;
    margin-right: 9%;
  }
  

  