<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Manager</title>
</head>

<body>
  <app-head></app-head>
  <div fxLayout="row" fxLayoutAlign="center none" class="container">
    <div class="container side">
      <div fxLayout="column">
        <div fxFlex>
          <app-search-stocks-form (notifyApp)="handleStockUpdate($event)" [data]="stocks"
            [searchHistory]="searchHistory">
          </app-search-stocks-form>
        </div>
        <div fxFlex>
          <app-top-list></app-top-list>
        </div>
        <div fxFlex>
          <app-fake-news></app-fake-news>
        </div>
        <div fxFlex>
          <app-search-history [hidden]='searchHistory.length==0' [searchHistory]="searchHistory" ></app-search-history>
        </div>
      </div>
    </div>

    <div class="container center">
      <div fxLayout="column">
        <div fxFlex="5 0 auto">
          <app-live-charting [portfolio]="portfolio"></app-live-charting>
        </div>
        <div fxFlex="5 0 auto">
          <app-portfolio [portfolio]=portfolio [onePrice]="onePrice" [startDate]="startDate"
            (onClick)="updatePrice($event)" [netWorth]="netWorth"></app-portfolio>
        </div>
      </div>
    </div>
  </div>
</body>

</html>