<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Manager</title>
</head>
<body>
  <app-head></app-head>

  <div fxLayout="row" class="container">
    <div fxFlex="3 0 auto" >
      <app-search-stocks-form (notifyApp)="handleStockUpdate($event)" [data]="stocks" [searchHistory]="searchHistory"></app-search-stocks-form>
      
    </div>
    <div fxFlex="7 0 auto">
      <app-portfolio [portfolio]=portfolio [onePrice]="onePrice" [startDate]="startDate" (onClick)="updatePrice($event)"
        [netWorth]="netWorth"></app-portfolio>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="100%">
      <app-live-charting [portfolio]="portfolio"></app-live-charting>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="100%">
      <app-search-history [hidden]='searchHistory.length==0' [searchHistory]="searchHistory"></app-search-history>
    </div>
  </div>
  </body>
</html>
