<aside>
    <hr>
    <label for="portfolio-date">Date: </label>
    <input type="date" id="portfolio-date" name="portfolio-date" [value]=startDate min="2021-01-01" max="2021-12-31" [(ngModel)]="startDate" />
    <button (click)="onClick.emit(startDate)">View</button>
    <table >
        <thead>
            <th>Symbol</th> 
            <th>Name</th> 
            <th>closePrice</th> 
            <th>Volume</th> 
            <th>Total Worth</th> 
        </thead>
        <tbody *ngFor="let item of portfolio" >
            <tr>
                <td>{{item['stock']['symbol']}}</td>
                <td>{{item['stock']['name']}}</td>
                <td>{{onePrice[0]['closePrice'] | number:'1.2-2' | currency:'USD'}}</td>
                <td>{{item['volume'] | number:'1.0-0'}}</td>
                <td>{{getRowSum(item['volume'], onePrice[0]['closePrice'])}}{{totalPrice| currency:'USD'}}</td>
            </tr>             
        </tbody>   
    </table>
    <hr>
    <!-- <table >
        <thead>
            <th>Portfolio_id</th>
            <th>Stock_id</th> 
            <th>Symbol</th> 
            <th>Name</th> 
            <th>openPrice</th> 
            <th>closePrice</th> 
            <th>Volume</th> 
            <th>Date</th>               
        </thead>
        <tbody *ngFor="let item of portfolio; let p of price" >
            <tr>
                <td>{{item['id']}}</td>
                <td>{{item['stock']['id']}}
                </td>
                <td>{{item['stock']['symbol']}}</td>
                <td>{{item['stock']['name']}}</td>
                <td>{{p['openPrice'] | number:'1.2-2' | currency:'USD'}}</td>
                <td>{{p['closePrice'] | number:'1.2-2' | currency:'USD'}}</td>
                <td>{{p['volume'] | number:'1.0-0'}}</td>
                <td>{{p['recordDate'] | slice:0:10}}</td>
                
            </tr>             
        </tbody>   
    </table> -->
</aside>
    
