<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Fake Stock News</div>
        <div class="panel-body">
            <h4>Salesforce Reveals Secret Ingredient in Cloud Software: 10% Code, 90% Unicorn Magic</h4> <br>
            <h4>Tesla's Latest Innovation: Cars That Can Translate Road Rage into Diplomatic Language</h4> <br>
            <h4>Bezos Reveals Plan to Launch 'Amazon Bermuda Triangle': Where Missing Packages Truly Disappear</h4> <br>
        </div>
    </div>
</div>

