input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select, input {
    width: 100%;
}

.container {
    width: auto;
    padding:0 20px 0 0;
}