<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Search Bar</div>
        <div class="panel-body">
            <form #myForm='ngForm'>
                <div class="form-group">
                    <label for="selectedStock">Stock</label>
                    <select [(ngModel)]='stock' id="selectedStock" name="selectedStock" type="text" #selectedStock
                        required class="form-control">
                        <option disabled selected value=""> -- select a stock -- </option>
                        <option *ngFor="let item of data">{{item.symbol}}</option>
                    </select>
                    <label for="selectedAction">Action</label>
                    <select [(ngModel)]='action' id="selectedAction" name="selectedAction" type="text" #selectedAction
                        required class="form-control">
                        <option disabled selected value=""> -- select an action -- </option>
                        <option *ngFor="let a of actions">{{a}}</option>
                    </select>
                    <label for="selectedQuantity">Quantity</label>
                    <input [(ngModel)]='quantity' type="number" id="selectedQuantity" name="selectedQuantity"
                        #selectedQuantity required min="1" class="form-control" />
                    <app-search-stocks (STOCK_EVENT)='handleStockEvent($event)' [selectedStock]='stock'
                        [selectedAction]="action" [selectedQuantity]="quantity" [disabled]="!!myForm.invalid">
                    </app-search-stocks>

                </div>
            </form>
        </div>
    </div>
</div>


<!-- buttons for buy sell, capture the selected option, retrieve data from portofolio table about selected option -->